@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --color-bikenete: #437937;
    --color-body: #ffffff;
    --color-font: #000000fb;
    --color-btn-dark: #000000;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

.active:root {
    --color-bikenete: #437937;
    --color-body: #292525;
    --color-font: #ffffff;
    --color-btn-dark: #ffffff;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 100px;
}


header {
    display: flex;
    align-items: center;
    background-color: var(--color-body);
    justify-content: center;
    border-bottom: solid 2px var(--color-bikenete);
    height: 15vh;
    transition: 0.6s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    position: fixed;
    top: 0%;
    z-index: 40;
    height: 6rem;
}

header img {
    width: 4rem;
    margin-left: 1rem;
}

header a {
    text-decoration: none;
}

body {
    margin-top: 100px;
    background-color: var(--color-body);
}

h1 {
    color: var(--color-font);
}

.div-btn {
    width: 7rem;
    height: 3.5rem;
    border: 0.2rem solid var(--color-bikenete);
    border-radius: 55vw;
    margin: 1.5vw;
    cursor: pointer;
    position: relative;
}

.div-btn::before {
    content: '';
    height: 2.3rem;
    width: 2.3rem;
    background-color: var(--color-bikenete);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 5%;
}

.active.div-btn::before {
    transition: 0.5s;
    position: absolute;
    right: 63%;
}

#menu {
    display: flex;
    list-style: none;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    align-items: center;
    font-family: serif;
}

#menu li a {
    border-radius: 4vw;
    padding: 1rem;
    border: 3px solid var(--color-bikenete);
    margin: 1.5vw;
    color: var(--color-font);
    white-space: nowrap;
}

#menu li a:hover {
    background-color: var(--color-bikenete);
}

#btn-mobile {
    display: none;
}

/* inicio do conteúdo principal*/
.equipamentos .todos_equip {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    background-color: #fff;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.card div span {
    font-weight: bold;
}

.equipamentos .todos_equip .card h1 {
    font-size: 1.2rem;
    color: #000000;
}

.card button {
    background-color: var(--color-bikenete);
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: var(--color-font);
    box-shadow: 3px 4px 2px 2px rgba(0, 0, 0, .30);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.card button:hover {
    background-color: #499c37;
    box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, .30);
    transform: translateY(4px);
    cursor: pointer;
}

#fundo-home {
    width: 100%;
    height: 34rem;
    border-radius: 1%;
    margin-right: 5vw;
    display: grid;
    place-items: center;
    background-image: url(../image/background-home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(3px);

}

#home img {
    height: 15rem;
    position: absolute;
    top: 13rem;
    left: 60%;
    z-index: 6;
}

#letreiro-home {
    color: var(--color-bikenete);
    font-size: 5rem;
    width: 15rem;
    position: absolute;
    top: 5rem;
    z-index: 5;
    margin-left: 17vw;
    font-family: 'Playfair Display', serif;
}

#letreiro-home-sombra {
    color: white;
    font-size: 5rem;
    width: 15rem;
    position: absolute;
    top: 5.3rem;
    left: 0.3rem;
    z-index: 3;
    margin-left: 17vw;
    font-family: 'Playfair Display', serif;
}


.letreiros {
    font-family: 'Playfair Display', serif;
    color: var(--color-bikenete);
    font-size: 4.1rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin-top: 5.5rem;
}

.sobre h1 {
    color: var(--color-body);
    font-family: 'Playfair Display', serif;
    font-size: 4.5vw;
    white-space: nowrap;
    margin-left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);
}

.about {
    height: 18rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    font-weight: bold;
}

.about h2 {
    font-size: 1.5vw;
    color: var(--color-body);
    width: 50%;
    text-align: justify;
}

#diferencial {
    margin-top: 5rem;
    height: auto;
    background-color: var(--color-bikenete);
    text-align: center;
}

#diferencial-geral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw;
}

#h1-diferencial {
    color: var(--color-body);
    font-family: 'Playfair Display', serif;
    font-size: 4.5vw;
    white-space: nowrap;
    margin-left: 50%;
    transform: translateX(-50%);
}

.diferenciais {
    width: 23%;

}

.diferenciais img {
    width: 8vw;
    height: 8vw;
}

.diferenciais h2 {
    font-size: 2.5vw;
    color: var(--color-body);
    margin-bottom: 2vw;
}

.diferenciais p {
    font-size: 1.5vw;
    color: var(--color-body);
}



footer {
    background-color: var(--color-bikenete);
    padding: 50px 0;
}

.container-footer {
    max-width: 1400px;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: var(--color-font);
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.footer-col ul {
    list-style: none;
    display: grid;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul a li {
    font-size: 16px;
    color: var(--color-font);
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease;
}

.footer-col ul a li:hover {
    color: var(--color-neutral-30);
    padding-left: 10px;
}

.footer-col ul a li i {
    font-size: 1.5rem;
}

.medias-sociais {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medias-sociais a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: var(--color-neutral-40);
    border: 1px solid var(--color-neutral-40);
    transition: all .5 ease;
}

.medias-sociais a i {
    font-size: 20px;
}

.medias-sociais a:hover {
    background-color: var(--color-neutral-30);
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--color-neutral-30);
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-40);
    font-weight: 500;
}

.footer-col .form-sub input::placeholder {
    color: var(--color-neutral-10);
}

.footer-col .form-sub input[type=reset] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-neutral-40);
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--color-neutral-30);
}

hr {
    border-color: var(--color-neutral-30);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
    margin-top: 1.5rem;
}

#footer_copyright .footer-link {
    margin: 5rem;
    text-decoration: none;
    color: var(--color-neutral-40);
}

@media screen and (min-width: 360px) and (max-width: 1024px) {

    header {
        display: flex;
        justify-content: space-between;
        height: 12vh;
    }

    #logo {
        height: 10vh;
    }

    #menu {
        font-size: 5vh;
        display: block;
        width: 100%;
        height: 0px;
        transition: .9s;
        position: absolute;
        top: 10vh;
        left: 0;
        margin-top: 2vh;
        background-color: #43793771;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu li a {
        border-radius: 4vw;
        padding: 1rem;
        border: none;
        margin: 1.5vw;
        white-space: nowrap;
        color: var(--color-neutral-40);
    }

    #menu li {
        margin-top: 4rem;
        text-align: center;
        color: var(--color-body);
        white-space: nowrap;
    }

    #btn-mobile {
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
        margin-right: 30px;
    }

    #hamburguer {
        color: var(--color-bikenete);
        border-top: 6px solid;
        width: 25px;
        margin-left: 3vw;
        margin-top: 1vh;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        color: var(--color-bikenete);
        display: block;
        width: 25px;
        height: 6px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
        transition: .6s;
        position: relative;
    }

    .div-btn {
        width: 5.6rem;
        height: 3rem;
        border: 3px solid var(--color-btn-dark);
        position: absolute;
        top: 0%;
    }

    .div-btn::before {
        background-color: var(--color-btn-dark);
    }

    .active.div-btn::before {
        transition: 0.5s;
        position: absolute;
        right: 51%;
    }

    #nav.active #menu

    /*TRADUÇÂO-quando nav tiver a class active adcione essas propriedades ao menu*/
        {
        visibility: visible;
        height: 100vh;
    }

    #nav.active #hamburguer {
        border-top: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);

    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -11px;

    }

    #letreiro-home {
        color: var(--color-bikenete);
        font-size: 2rem;
        position: absolute;
        top: 7rem;
        z-index: 5;
        margin-left: 8vw;
        font-family: 'Playfair Display', serif;
        width: 15rem;
    }

    #letreiro-home-sombra {
        font-size: 2rem;
        position: absolute;
        top: 7.2rem;
        z-index: 3;
        margin-left: 7.4vw;
        font-family: 'Playfair Display', serif;
        width: 15rem;
    }

    #fundo-home {
        height: 13rem;
    }

    #home img {
        height: 5rem;
        position: absolute;
        top: 7rem;
        left: 54%;
        z-index: 6;
    }

    #header img {
        margin: 2rem;
    }

    .letreiros {
        font-family: 'Playfair Display', serif;
        color: var(--color-bikenete);
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }

    .equipamentos .todos_equip {
        display: grid;
        justify-content: center;
        padding: .5rem;

    }

    .card {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    #diferencial {
        height: auto;
        background-color: var(--color-bikenete);
    }

    #h1-diferencial {
        display: flex;
        justify-content: center;
        color: var(--color-body);
        font-family: 'Playfair Display', serif;
        font-size: 2.1rem;
        white-space: nowrap;
        padding-top: 2rem;
        margin-bottom: 5rem;

    }

    #diferencial-geral {
        display: flex;
        text-align: center;
        padding: 0vw;
        flex-direction: column;
        gap: 7rem;
    }

    .diferenciais {
        width: 15rem;
        margin-bottom: 2rem;
    }

    .diferenciais img {
        width: 10rem;
        height: 10rem;
    }

    .diferenciais h2 {
        font-size: 2.5rem;
        color: var(--color-body);
        margin-bottom: 0%;
    }

    .diferenciais p {
        font-size: 1.8rem;

        color: var(--color-body);
    }


    .sobre h1 {
        color: var(--color-body);
        font-family: 'Playfair Display', serif;
        font-size: 5.5vw;
        margin-bottom: 1rem;
    }

    .about h2 {
        font-size: 13px;
        color: var(--color-body);
    }

    #home img {
        height: 5rem;
        position: absolute;
        top: 13rem;
        left: 60%;
        z-index: 6;
    }

    .row-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        width: 75%;
    }

    #footer_copyright .footer-link {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        text-align: center;
    }
}
